@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tuc1w');
  src:  url('../fonts/icomoon.eot?tuc1w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tuc1w') format('truetype'),
    url('../fonts/icomoon.woff?tuc1w') format('woff'),
    url('../fonts/icomoon.svg?tuc1w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adguard:before {
  content: "\e900";
  color: #66b574;
}
.icon-adobepremiere:before {
  content: "\e901";
  color: #ea77ff;
}
.icon-airplayaudio:before {
  content: "\e902";
}
.icon-anchor:before {
  content: "\e903";
  color: #8940fa;
}
.icon-android:before {
  content: "\e904";
  color: #3ddc84;
}
.icon-headphones:before {
  content: "\e910";
}
.icon-film:before {
  content: "\e913";
}
.icon-dice:before {
  content: "\e915";
}
